.mainWrap {
    width: 100%;
    height: auto;

    .center {
        max-width: 1650px;
        height: auto;
        margin: 0 auto;
        padding-bottom: 30px;

        //快速選擇
        .quickBox {
            width: auto;
            height: auto;
            margin: 20px 0;
            display: flex;
            justify-content: center;

            li {
                width: auto;
                height: auto;
                margin: 0 10px;

                &.love {
                    display: none;

                    &.display {
                        display: block;
                    }
                }

                &:hover,&:active,&.active {
                    
                    button {
                        transform: rotateY(-90deg);

                        .inner {
                            opacity: 1;
                            transform: rotateY(90deg);
                            transition: 0.5s all;
                            transition-delay: 0.2s;
                        }
                    }
                }
                
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    background: $quick_BG;
                    width: 160px;
                    height: 160px;
                    border-radius: 8px;
                    transition: all .2s;
                    transform-style: preserve-3d;
                    transform-origin: bottom;
                    position: relative;
                    cursor: pointer;

                    i {
                        display: block;
                        width: 50px;
                        height: 50px;
                        margin-bottom: 25px;

                        &.love_ic {
                            background-position-x: 0;
                        }
                        &.sport_ic {
                            background-position-x: 20%;
                        }
                        &.live_ic {
                            background-position-x: 40%;
                        }
                        &.slot_ic {
                            background-position-x: 60%;
                        }
                        &.fish_ic {
                            background-position-x: 80%;
                        }
                        &.board_ic {
                            background-position-x: 100%;
                        }
                    }

                    p {
                        color: $quick_Word;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    .inner {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        background: linear-gradient(180deg,#ff9b00 0,#ffb600);
                        width: 100%;
                        height: 100%;
                        border-radius: 8px;
                        opacity: 0;

                        i {
                            background-position-y: 100%;
                        }

                        p {
                            color: $quick_Hover;
                        }
                    }
                }
            }
        }

        //遊戲平台選單
        .typeList {
            display: none;
            max-width: 1650px;
            min-width: 1400px;
            height: auto;
            margin: 40px auto 60px;
            grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
            grid-gap: 60px 20px;
            box-sizing: border-box;

            &.loveMode {
                max-width: unset;
                width: 1400px;
                padding: 0 20px;
                grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
                grid-gap: 20px;
            }

            &.display {
                display: grid;
            }

            li:not(.loveGame) {
                width: auto;
                height: auto;
                position: relative;
                cursor: pointer;
                display: none;

                &.display {
                    display: block;
                }

                &:nth-of-type(4n) {
                    margin-right: 0px;
                }

                p {
                    color: $type_Word;
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    font-weight: bold;
                    padding-top: 10px;
                }

                .fixBox {
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    background: $filter;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    top: 0;
                    left: 0;
                    cursor: not-allowed;

                    &.display {
                        display: flex;
                    }

                    p {
                        color: $topGameList_fixWord;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 24px;

                        &.title {
                            margin-bottom: 30px;
                            font-size: 26px;
                        }
                    }
                }
            }

            .loveGame {
                width: auto;
                height: auto;
                border: solid 1px $gameWrap_Border;
                border-radius: 5px;
                overflow: hidden;
                cursor: pointer;
                box-sizing: border-box;
                font-size: 0px;
                position: relative;

                &:hover,&:active,&.active {
                    
                    .btnBox {
                        opacity: 1;
                    }
                }

                .textBox {
                    width: 100%;
                    height: 35px;
                    display: flex;
                    align-items: center;
                    padding: 0 20px;
                    box-sizing: border-box;
                    justify-content: space-between;
                    position: relative;
                    z-index: 1;
                    border-top: solid 1px $gameWrap_Border;
                    background: $gameWrap_WordBG;

                    p {
                        font-size: 18px;
                        font-weight: bold;
                        color: $gameWrap_Word;
                    }

                    .love {
                        width: 23px;
                        height: 21px;
                    }
                }

                .btnBox {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 120px;
                    background: $filter;
                    top: 0px;
                    left: 0px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-evenly;
                    box-sizing: border-box;
                    padding: 10px 0;
                    transition: 0.3s all;

                    button {
                        width: 140px;
                        height: 35px;
                        @include eventBtn;

                        &:nth-of-type(2) {
                            @include eventBtn_2;
                        }
                    }
                }
            }
        }

        //排行榜
        &.rank {
            width: 100%;
            max-width: 1400px;
            height: auto;
            
            .marqueeArea {
                width: 100%;
                height: 36px;
                background: $marquee_BG;
                border-radius: 36px;
                margin-bottom: 16px;
                margin: 16px auto ;
        
                .center {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 0 30px;
        
                    .marqueeWrap {
                        width: 100%;
                        height: auto;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
        
                        .title {
                            color: $marquee_Title;
                            font-size: 16px;
                            font-weight: bold;
                            width: auto;
                            height: 100%;
                            flex-shrink: 0;
                            padding-right: 10px;
                        }
        
                        .marquee {
                            width: 100%;
                            height: auto;
                            overflow: hidden;
        
                            p {
                                font-size: 16px;
                                font-weight: bold;
                                color: $marquee_Word;
                                display: inline-block;
                                animation: marquee 10s linear infinite;
                                padding-left: 100%;
                                white-space: nowrap;
                            }
        
                            @keyframes marquee {
                                0% {
                                    transform: translate(0%);
                                }
        
                                100% {
                                    transform: translate(-100%);
                                }
                            }
                        }
                    }
                }
            }

            .content {
                height: auto;
                min-height: 500px;
                background: $secondBG;
                padding: 40px;
                
                .data {
                    height: 35px;
                    padding-top: 15px;
                    overflow: hidden;
                    cursor: pointer;

                    &.active {
                        height: auto;
                    }

                    .title {
                        display: flex;
                        align-items: center;
                        color: $mainFont_1;
                        font-size: 20px;
                        margin-bottom: 50px;
                        padding-left: 55px;
                        position: relative;

                        &::before {
                            content: "";
                            width: 33px;
                            height: 26px;
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }

                        .titleic {
                            color: $mainFont_1;
                            font-size: 37px;
                            font-weight: lighter;
                            margin-left: 20px;
                            transition: all 0.3s;

                            &.close {
                                font-size: 23px;
                            }
                        }
                    }

                    table {
                        width: 100%;
                        height: auto;

                        tr {
                            border: 1px solid $Border_2;

                            th,td {
                                width: auto;
                                height: auto;

                                &:first-child {
                                    width: 20%;
                                }

                                &:nth-of-type(2) {
                                    width: 40%;
                                }

                                &:last-child {
                                    width: 40%;

                                    p {
                                        border-right: none;
                                    }
                                }

                                p {
                                    color: $mainFont_1;
                                    font-size: 18px;
                                    border-right: 1px solid $Border_2;
                                    text-align: center;
                                    line-height: 40px;
                                    white-space: nowrap;

                                    span {
                                        font-family: fansong;
                                        padding-top: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .update {
                        color: $mainFont_1;
                        font-size: 18px;
                        margin-top: 40px;
                        text-align: right;
                        padding-right: 40px;

                        span {

                            &.time {
                                margin-left: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}